@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
/* Resetting styles */
* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --bg-color: #181b23;
  --primary-color: #e1def5;
  --secondary-color: #719ff6;
  --tertiary-color: #4c73e9;
  --transparent-bg: rgba(39, 39, 41, 0.98);
  --text-shadow: 2px 2px 4px #151517;
  --text-shadow-light: 2px 2px 2px rgba(255, 255, 255, 0);
  --box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 0.42);
}

/* General styles */
a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
  color: var(--primary-color);
}

body {
  /*font-family: "Gill Sans", sans-serif;*/
  background-color: var(--bg-color);
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  background: var(--transparent-bg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: var(--primary-color);
  margin: 0 2.5rem;
}

#movie-title {
  position: relative;
  justify-content: center;
}

h1 {
  font-family: Rubik, sans-serif;
  font-size: 70px;
  font-weight: 600;
  background-image:linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
  color: transparent;
  background-clip: text;  
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5); /* Add an outline (shadow) around the text */
  
}

h2 {
  color: var(--secondary-color);
}

.program-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* Movie Page */
.movie-card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  margin-right: 10rem;
}

.movie-pic {
  margin: 2rem;
}

#seats-outerbox {
  display: grid;
  padding: 20px;
}

.seat-div {
  border: 1px solid grey;
  height: 25px;
  width: 25px;
  margin: 5px 0 0 5px;
  border-radius: 2px;
}

#movielist-outerbox {
  width: 80%;
  height: auto;
}

#graph-box {
  display: none;
  background-color: white;
  width: 700px;
  height: 380px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

#statistic-chart {
  width: 100%;
  padding-top: 20px;
}

/* Program */
.datepicker {
  display: flex;
  margin-left: 4rem;
  font-size: x-large;
}

.showings {
  background-color: var(--bg-color);
  padding: 50px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.showing-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin-bottom: 2rem;
}

.showing-times {
  padding: 10px 50px;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.showing-times:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.showing-card-content {
  display: flex;
  flex-direction: column;
}

.showing-card-content p {
  margin-bottom: auto;
}

/* Movie Styles */
.movie-card,
.showing-details {
  display: flex;
}

.movie-card-content {
  display: flex;
  flex-direction: column;
}

.movie-pic {
  width: 50%;
}

.showing-details {
  gap: 50px;
  justify-content: center;
}

.showing-title {
  color: var(--primary-color);
  font-size: 2rem;
}

label {
  color: var(--primary-color);
}

/* Seats */
.seat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

#seat-div-box {
  display: hidden;
}

img.movie-canvas {
  width: 40rem;
  height: auto;
  margin-bottom: 2rem;
}

button {
  padding: 10px 50px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  margin: 2rem;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.modalbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-content {
  background-color: var(--transparent-bg);
  padding: 50px;
  max-width: 400px;
  width: 90%;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content label {
  color: var(--primary-color);
  font-size: larger;
  display: block;
  margin-bottom: -30px;
}

.modal-content input{
  border:0;
  border-bottom:3px solid var(--primary-color);  
  background:transparent;
  width:100%;
  padding:5px 0 2px 0;
  font-size:25px;
  color:#fff;
}

.modal-content input:focus{ 
 border:none;	
 outline:none;
 border-bottom:3px solid var(--tertiary-color);	
} 

/*.modal-content input,*/
.modal-content button {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

.create-theater-input {
  margin-top: 5px;
}

#theater-outerbox {
  margin-top: 50px;
}

.theater-box {
  border: 1px solid grey;
  box-shadow: 10px 10px 8px #888888;
  margin: 20px 20px 0 0;
  padding: 20px;
  float: left;
}

#table-rows td {
  max-width: 150px;
}

.movie-rows {
  color: white;
  max-height: 50px;
  overflow-y: hidden;
}

#showings-outerbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  justify-content: flex-start;
}

.showing-box {
  border: 1px solid var(--bg-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 22%;
  margin: 1rem;
}

.manage-showing-btn button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img.errorimg {
  height: 500px;
}

.program-content {
  position: relative;
  top: 110%;
  transform: translateY(0);
}

/* Hero section */
.hero {
  position: relative;
  height: 60vh;
  background-color: var(--bg-color);
  animation: imageCycle 60s infinite;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  animation: imageCycle 60s infinite;
}

@keyframes imageCycle {
  0% {
    left: 0;
    background-image: url('../images/img1.jpg');
  }
  16.66% {
    left: 0;
    background-image: url('../images/img2.jpg');
  }
  33.33% {
    left: 0;
    background-image: url('../images/img3.jpg');
  }
  50% {
    left: 0;
    background-image: url('../images/img4.jpg');
  }
  66.66% {
    left: 0;
    background-image: url('../images/img5.jpg');
  }
  83.33% {
    left: 0;
    background-image: url('../images/img6.jpg');
  }
  100% {
    left: 0;
    background-image: url('../images/img7.jpg');
  }
}

.datepicker label {
  margin-right: 30px; /* Adjust the margin as needed */
}